@using LCS.WeiXin.Common

@{
    ViewBag.Title = "积分帮助";
}

@section HeaderContent{
    <link rel="stylesheet" type="text/css" href="/Content/integral/integralstyle.css?@Html.GetVersion()">
}

<div id="container">

    @* 导航暂时不要<div id="wrapper" class="header-wrapper">
        <a class="logo home_btn-goback" href="javascript:history.go(-1);"><img src="/Images/back-icon.png"></a>
        <div class="title"><a class="title" href="javascript:void(0)">积分帮助</a></div>
    </div>*@
    <div class="jf_help borderline">
        <h5 class="ft15">如何获取积分</h5>
        <div class="ft14 jf_help_info">
            <ul>
                <li>用户在中酒云图移动端下单，后台下单，支付等活动可以获得积分。</li>
                <li>具体的哪些用户行为可以获得积分，需要在后台根据业务需求配置。</li>
            </ul>
        </div>
    </div>
    <div class="jf_help borderline">
        <h5 class="ft15">如何使用积分</h5>
        <div class="ft14 jf_help_info">
            <ul>
                <li>积分可用于下单时抵扣现金，用户可自由填写下单时使用的积分数量，最高可抵扣金额以页面显示为准。</li>
                <li>使用积分抵现的商品如果发生退化或拒收，将按照该订单中扬实际使用的积分数量退回到账户中。</li>
            </ul>
        </div>
    </div>
    <div class="jf_help borderline">
        <h5 class="ft15">违规处理</h5>
        <div class="ft14 jf_help_info">
            <ul>
                <li>如果用户以不正当方式包括但不限于利用系统漏洞作弊，报道中酒云图管理规则等获取积分，中酒云图有权取消用户以不正当方式获得、使用的积分、情节严重的、中酒云图有权冻结用户积分、取消中酒云图相关使用权益。</li>
            </ul>
        </div>
    </div>
    <div class="jf_help borderline" style="margin-bottom: 30px;">
        <h5 class="ft15">修改以及终止</h5>
        <div class="ft14 jf_help_info">
            <ul>
                <li>中酒云图在法律允许的范围内可对本规则的条款进行解释，并根据需要取消细则或增删修改，规则以网站公布为准。</li>
            </ul>
        </div>
    </div>
    
    <div id="u11" style="z-index: 1000;">
        <span class="ft11 w-bind--link">
            <a class="ft14" style="text-decoration: none; display: block;" href="@Url.Action("Index", "Integral")"> 返回公众号首页</a>
        </span>
    </div>
</div>
